h1{
    background-color: gold;
}

h1{
    background-color: aqua;
    color: rgb(255, 225, 0);
}

h1{
    color: blueviolet;
}

section h2{
    color: blueviolet;
}

.textoNaranja{
    color: orangered;
}

#documento{
    color: blue;

    border: 3px dotted blue;
}

.backgroundRojo{
    background-color: rgb(255, 0, 0);
}

.backgroundAmarillo{
    background-color: yellow;
}

body{
    margin: 2px;
    padding: 1px;
    border: 1px dashed green;
}

.grid-layout{
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
}

.cajaUno{
    border: 1px solid red;
    line-height: 120px;
    text-align: center;
}

.cajaDos{
    border: 1px solid rgb(0, 255, 68);
    line-height: 120px;
    text-align: center;
    
}

.cajaTres{
    border: 1px solid rgb(0, 255, 68);
    line-height: 120px;
    text-align: center;
    
    grid-column: 1/2;   /*Desde columna 1 a la columna 2*/
    grid-area: 1/2/2/3; /*Desde col 1 a col 2 y desde fila 2 a fila 3*/
}



.flex-container{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* Estilos para dispositivos móviles */
    body {
        font-size: 16px;
    }

    /* Estilos para pantallas más grandes */
    @media (min-width: 768px) {
        body {
            font-size: 20px;
        }
    }

    /* Estilos para pantallas aún más grandes */
    @media (min-width: 1200px) {
        body {
            font-size: 24px;
        }
    }

